
<%- include ('include/main_header') %>
<div  class="hom main-body  d-flex" id="first-page">

  <%- include ('include/side_menu') %>

<div class="details-part d-flex flex-column" >

  <%- include ('include/header') %>
   
   <%- include ('include/show_card') %>
 
  <%- include ('include/pagination') %>

  <%- include ('include/footer') %>
                   
    </div>
   
</div>

<%- include ('include/delete') %>
 
<%- include ('include/add') %>

<%- include ('include/edit') %>

<%- include ('include/main_footer') %>


